<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="VuelingConnection"
         connectionString="Server=localhost,1433;Database=Vueling;User Id=sa;Password=yourStrong(!)Password"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>